Flask
Flask-SQLAlchemy
Flask-Bcrypt
Flask-Mail
Flask-WTF
Flask-Login
Flask-Migrate
PyMuPDF
langchain
faiss-cpu
requests
sentence-transformers
opencv-python 
langchain-community
langchain-huggingface
pyngrok
pypdf2
pytesseract
python-docx
werkzeug
aiohttp
apscheduler
